---
layout: layouts/page.njk
eleventyNavigation:
  key: home
  order: 1
tags: page
date: Last Modified
title: "Join Vardān"
scrollToTop: true
description: "We aspire to be a dynamic artistic community that practices and upholds the holistic traditions associated with the classical arts of India. Nrityagram is a one-of-a-kind collective of artistes, where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1749546378/vardan-og_jiatly.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures {
      "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1749539889/vardan-desk_cwlrgw.png",
      "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1749539889/vardan-tablet_olth8f.png",
      "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1749539888/vardan-mobile_hfyzyc.png"
    },
    "Sustain the Legacy of Dance", {
      "mob": ["425"],
      "tab": ["768"],
      "desk": ["1600"]
    }, {
      "desk": "65em",
      "tab": "50em",
      "mob": "35em"
    },
    "eager",
    "high" %}
  </div>
  <div class="banner-title-container">
    <div class="banner-title">
        Sustain the Legacy of Dance
  </div>
    <div class="banner-subtitle">
        For over three decades, Nrityagram has bridged tradition and innovation through dance.<br />Help nurture this legacy—every gift, large or small, makes a difference.
  </div>
    <div class="banner-buttons">
      <div class="button red-jellybean light center"
         onclick="location.href='#donate';">
      Donate Now
      </div>
      <div class="button center"
         onclick="location.href='#vardan';">
      Explore Ways to Give
      </div>
    </div>
  </div>

</div>
<div class="container" id="about-ng">
  <div class="wrapper ultra-wide flow">
    <h1 class="center">What Makes Nrityagram Unique?</h1>
    <h4 class="center">Discover the essence of Nrityagram - a sanctuary where ancient traditions meet contemporary expression</h4>
    <div class="feature-cards-grid flow-nontitletext">
      <div class="feature-card">
        <h3 class="feature-card-title">
          A Gurukula System
        </h3>
        <div class="feature-card-image">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1726590604/residential-workshop-surupa-teaching_twpakr.png", "Nrityagram Gurukula", ["600", "400"] %}
        </div>
        <p class="feature-card-description">
          Students and teachers live and learn together, embracing holistic practice and mindful living in a unique educational environment.
        </p>
        <div class="feature-card-link">
          <a href="https://nrityagram.org/gurukula" target="_blank">Learn More</a>
        </div>
      </div>
      <div class="feature-card">
        <h3 class="feature-card-title">
          Global Recognition
        </h3>
        <div class="feature-card-image">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1750487820/global-recognition-featurecard_uivwbw.jpg", "Nrityagram Ensemble at the Fall for Dance 2022 ", ["600", "400"] %}
        </div>
        <p class="feature-card-description">
          Sold-out performances in 25 nations across 5 continents, earning accolades like The New York Times “Best Dance of the Year.”
        </p>
        <div class="feature-card-link">
          <a href="https://nrityagram.org/performancemap/" target="_blank">Learn More</a>
        </div>
      </div>
      <div class="feature-card">
        <h3 class="feature-card-title">
          Cultural Landmark
        </h3>
        <div class="feature-card-image">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1750488323/cultural-icon-featurecard_sb8ffg.jpg", "Three women statue at Nrityagram", ["600", "400"] %}
        </div>
        <p class="feature-card-description">
          A beacon for Bangalore, India, and the world, deeply rooted in rural Karnataka yet with a global community of friends and supporters.
        </p>
        <div class="feature-card-link">
          <a href="https://nrityagram.org/visit/" target="_blank">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container accent-bg"  id="mission">
  <div class="wrapper flow">
    <div class="even-columns-unlimited wide-grid-gap textbox-card-pair">
      <div class="textbox-column flow-inbetween center-align-column">
        <h1>Our Mission: Living Dance</h1>
        <p>
          We’re more than a dance school—we’re a vibrant community committed to enriching lives through the art of dance, fostering creativity, and building a sustainable future.
        </p>
        <ul>
          <li>Nurturing the next generation of dancers.</li>
          <li>Bridging the rural-urban divide through outreach and free performances.</li>
          <li>Supporting artists to create new works of art.</li>
          <li>Building a self-sustaining, eco-friendly community.</li>
        </ul>
        <br />
      </div>
      <div class="card-column">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1731609677/nov2024-informance-tablet_dmg41e.png", "Nrityagram Informance", ["400"] %}
      </div>
    </div>
  </div>
</div>
<div class="container" id="vardan">
  <div class="wrapper ultra-wide flow">
    <div class="giving-levels-title-wrapper">
      <h1 class="center">Enter the Vardān Annual Giving Programme</h1>
      <p class="center">
      “Vardān” means “boon” or “blessing.” This annual giving programme is not just about financial support—it’s an opportunity to engage with our creative community and share in our journey. Choose a level of support and become a Nrityagram Angel.
    </p>
    </div>
    <div class="giving-cards-grid flowinbetween">
      <div class="giving-card flow-inbetween">
        <div class="giving-card-icon">
          <img src="/img/people-icon.svg" alt="People Icon" />
        </div>
        <h3>
          Village Children Scholarship
        </h3>
        <h4 class="redtext">₹2.5 lakhs/year</h4>

        <p class="giving-card-description">
          Funds weekly dance training for 10 village children, bringing the gift of art to those with limited means.
        </p>
        <div class="giving-card-link">
          <a href="mailto:lynne@nrityagram.org?subject=Inquiry%20about%20Village%20Children%20Scholarship">Contact Us</a>
        </div>
      </div>

      <div class="giving-card flow-inbetween">
        <div class="giving-card-icon">
          <img src="/img/graduation-cap-icon.svg" alt="Graduation Cap Icon" />
        </div>
        <h3>
          Gurukula Scholarship
        </h3>
        <h4 class="redtext">₹6 lakhs/year</h4>

        <p class="giving-card-description">
          Enables a deserving young dancer to receive a transformative education at Nrityagram.
        </p>
        <div class="giving-card-link">
          <a href="mailto:lynne@nrityagram.org?subject=Inquiry%20about%20Gurukula%20Scholarship">Contact Us</a>
        </div>
      </div>

      <div class="giving-card flow-inbetween">
        <div class="giving-card-icon">
          <img src="/img/palette-color-icon.svg" alt="Palette Colour Icon" />
        </div>
        <h3>
          Creator Fund
        </h3>
        <h4 class="redtext">₹10 lakhs/year</h4>

        <p class="giving-card-description">
          Supports Artistic Director Surupa Sen’s inspiring new choreographies and music collaborations.
        </p>
        <div class="giving-card-link">
          <a href="mailto:lynne@nrityagram.org?subject=Inquiry%20about%20Creator%20Fund">Contact Us</a>
        </div>
      </div>

      <div class="giving-card flow-inbetween">
        <div class="giving-card-icon">
          <img src="/img/badge-icon.svg" alt="Badge Icon" />
        </div>
        <h3>
          Endowed Fellowship
        </h3>
        <h4 class="redtext">₹12 lakhs/year</h4>

        <p class="giving-card-description">
          Establishes a lasting legacy in honor or memory of someone special, supporting gifted young dancers.
        </p>
        <div class="giving-card-link">
          <a href="mailto:lynne@nrityagram.org?subject=Inquiry%20about%20Endowed%20Fellowship">Contact Us</a>
        </div>
      </div>

      <div class="giving-card flow-inbetween">
        <div class="giving-card-icon">
          <img src="/img/leaf-icon.svg" alt="Leaf Icon" />
        </div>
        <h3>
          Sustainable Living Grant
        </h3>
        <h4 class="redtext">₹12 lakhs upwards/year</h4>

        <p class="giving-card-description">
          Helps us move closer to a self-sustaining, eco-friendly community that respects Mother Earth.
        </p>
        <div class="giving-card-link">
          <a href="mailto:lynne@nrityagram.org?subject=Inquiry%20about%20Sustainable%20Living%20Grant">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>