---
layout: layouts/page.njk
eleventyNavigation:
  key: home
  order: 1
tags: page
date: Last Modified
title: "Join Vardān"
scrollToTop: true
description: "We aspire to be a dynamic artistic community that practices and upholds the holistic traditions associated with the classical arts of India. Nrityagram is a one-of-a-kind collective of artistes, where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1749546378/vardan-og_jiatly.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures {
      "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1749539889/vardan-desk_cwlrgw.png",
      "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1749539889/vardan-tablet_olth8f.png",
      "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1749539888/vardan-mobile_hfyzyc.png"
    },
    "Sustain the Legacy of Dance", {
      "mob": ["425"],
      "tab": ["768"],
      "desk": ["1600"]
    }, {
      "desk": "65em",
      "tab": "50em",
      "mob": "35em"
    },
    "eager",
    "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Darial Sneed" 
    data-image-credit-tab="Darial Sneed" 
    data-image-credit-mob="Darial Sneed"
    ></div>
  <div class="banner-title-container">
    <div class="banner-title">
        Sustain the Legacy of Dance
  </div>
    <div class="banner-subtitle">
        For over three decades, Nrityagram has bridged tradition and innovation through dance.<br />Help nurture this legacy—every gift, large or small, makes a difference.
  </div>
    <div class="banner-buttons">
      <div class="button red-jellybean light center"
         onclick="location.href='/#donate';">
      Donate Now
    </div>
      <div class="button center"
         onclick="location.href='/#giving-levels';">
      Explore Ways to Give
    </div>
    </div>
  </div>

</div>
<div class="container">
  <div class="wrapper ultra-wide flow">
    <h1 class="center">What Makes Nrityagram Unique?</h1>
    <h4 class="center">Discover the essence of Nrityagram - a sanctuary where ancient traditions meet contemporary expression</h4>
    <div class="feature-cards-grid flow-nontitletext">
      <div class="feature-card">
        <h3 class="feature-card-title">
          A Gurukula System
        </h3>
        <div class="feature-card-image">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1726590604/residential-workshop-surupa-teaching_twpakr.png", "Nrityagram Gurukula", ["600", "400"] %}
        </div>
        <p class="feature-card-description">
          Students and teachers live and learn together, embracing holistic practice and mindful living in a unique educational environment.
        </p>
        <div class="feature-card-link">
          <a href="https://nrityagram.org/gurukula" target="_blank">Learn More</a>
        </div>
      </div>
      <div class="feature-card">
        <h3 class="feature-card-title">
          Global Recognition
        </h3>
        <div class="feature-card-image">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1750487820/global-recognition-featurecard_uivwbw.jpg", "Nrityagram Ensemble at the Fall for Dance 2022 ", ["600", "400"] %}
        </div>
        <p class="feature-card-description">
          Sold-out performances in 25 nations across 5 continents, earning accolades like The New York Times “Best Dance of the Year.”
        </p>
        <div class="feature-card-link">
          <a href="https://nrityagram.org/performancemap/" target="_blank">Learn More</a>
        </div>
      </div>
      <div class="feature-card">
        <h3 class="feature-card-title">
          Cultural Landmark
        </h3>
        <div class="feature-card-image">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1750488323/cultural-icon-featurecard_sb8ffg.jpg", "Three women statue at Nrityagram", ["600", "400"] %}
        </div>
        <p class="feature-card-description">
          A beacon for Bangalore, India, and the world, deeply rooted in rural Karnataka yet with a global community of friends and supporters.
        </p>
        <div class="feature-card-link">
          <a href="https://nrityagram.org/visit/" target="_blank">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper ultra-wide flow">
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/history';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1572106197/history_kaf95n.jpg",
          "History Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Avinash Pasricha" ></div>
          <div class="card-title">History</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/space';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647179355/Space-cat2-desk_rix0hl.jpg",
					"Space Card",
					["560", "768"] %}
          <div class="credit" data-image-credit="Surupa Sen" ></div>
          <div class="card-title">Space</div>
        </div>
      </div>
    </div>
    <div class="even-columns">
      <div class="left-column">
        <div class="image-plus card" onclick="location.href='/future';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1718198365/future-masthead-desk_pcffe4.png",
          "Future Card",
          ["560", "768"] %}
          <div class="credit" data-image-credit="Karthik Venkatraman" ></div>
          <div class="card-title">Future</div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-plus card" onclick="location.href='/board';">
          {% image "https://res.cloudinary.com/nrityagram/image/upload/v1569995939/board-of-trustees-banner_srxmvn.jpg",
					"Board of Trustees Card",
					["560", "768"] %}
          <div class="credit" data-image-credit="Karthik Venkatraman" ></div>
          <div class="card-title">Board of Trustees</div>
        </div>
      </div>
    </div>
  </div>
</div>